<template>
    <div class="flex-1">
        <div class="relative w-64">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <svg class="h-6 w-6 text-gray-600" viewBox="0 0 24 24" fill="none">
                    <path
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    />
                </svg>
            </span>
            <input class="block w-full rounded-md border border-gray-400 pl-10 pr-4 py-2 text-gray-900 text-sm placeholder-gray-600" type="text"
                :placeholder="placeholder"
            />
        </div>
    </div>
</template>

<script>
export default {
    name: 'searchField',
    props: {
        placeholder: {
            type: String,
            default: 'Buscar'
        }
    }
}
</script>