<template>
    <div class="flex-1 min-w-0 flex flex-col bg-white">
        <div class="flex-shrink-0 border-b-2 border-gray-200">
          <HeaderPrincipal />
        </div>
        <div class="flex-1 overflow-auto">
          <main class="p-3 inline-flex">
            <!-- <router-view/> -->
            <KanbanColumn title="BackLog" :qtyCard="parseInt(4)" />
            <KanbanColumn class="ml-3" title="To Do" :qtyCard="parseInt(6)" />
            <KanbanColumn class="ml-3" title="Doing" :qtyCard="parseInt(4)" />
            <KanbanColumn class="ml-3" title="Done" :qtyCard="parseInt(6)" />
          </main>
        </div>
      </div>
</template>

<script>

import HeaderPrincipal from './HeaderPrincipal'
import KanbanColumn from './../kanban/kanbanColumn'

export default {
    name: 'BodyPrincipal',
    components: {
        HeaderPrincipal,
        KanbanColumn
    }
}

</script>