<template>
    <header class="px-4">
        <div class="flex items-center justify-between py-3 border-b border-gray-200">
            <HomeBtnDropdown class="md:hidden" />
            <SearchField class="hidden md:block" />
            <div class="flex items-center">
                <template v-if="isAuthenticated">
                    <button>
                        <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none">
                            <path
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                d="M16,17H7V10.5C7,8 9,6 11.5,6C14,6 16,8 16,10.5M18,16V10.5C18,7.43 15.86,4.86 13,4.18V3.5A1.5,1.5 0 0,0 11.5,2A1.5,1.5 0 0,0 10,3.5V4.18C7.13,4.86 5,7.43 5,10.5V16L3,18V19H20V18M11.5,22A2,2 0 0,0 13.5,20H9.5A2,2 0 0,0 11.5,22Z"
                            />
                        </svg>
                    </button>
                    <UserBtnDropdown 
                        v-on:onClose="isOpenLogin = false"
                        class="ml-6" 
                    />
                </template>
                <template v-else> 
                    <button @click="onClickedEntrar" class="ml-5 flex items-center pl-2 pr-4 py-2 text-sm font-medium rounded-lg hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            class="h-6 w-6 text-gray-500"
                            viewBox="0 0 36 36"
                            fill="none"
                        >
                            <path 
                            d="M 16 5 C 12.145852 5 9 8.1458513 9 12 C 9 14.408843 10.23116 16.55212 12.09375 17.8125 C 8.5266131 19.342333 6 22.881262 6 27 L 8 27 C 8 22.569334 11.569334 19 16 19 C 20.430666 19 24 22.569334 24 27 L 26 27 C 26 22.881262 23.473387 19.342333 19.90625 17.8125 C 21.76884 16.55212 23 14.408843 23 12 C 23 8.1458513 19.854148 5 16 5 z M 16 7 C 18.773268 7 21 9.2267317 21 12 C 21 14.773268 18.773268 17 16 17 C 13.226732 17 11 14.773268 11 12 C 11 9.2267317 13.226732 7 16 7 z" 
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            />
                        </svg>
                        <span class="ml-1">Entrar</span>
                    </button>
                    <LoginBtn 
                        v-if="isOpenLogin" 
                        :isOpen="isOpenLogin"
                        class="ml-1"
                        v-on:onClose="isOpenLogin = false"
                    />
                </template>
            </div>
        </div>
        <div class="flex items-center justify-between py-2">
            <div class="flex items-center">
                <h2 class="text-2xl font-semibold text-gray-900 leading-tight">All Issues</h2>
                <div class="ml-6 flex items-center">
                    <span class="rounded-full border-2 border-white">
                        <img 
                            class="h-9 w-9 rounded-full object-cover" 
                            src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                            alt=""
                        />
                    </span>
                    <span class="-ml-2 rounded-full border-2 border-white">
                        <img 
                            class="h-9 w-9 rounded-full object-cover" 
                            src="https://images.unsplash.com/photo-1485203535145-9eb0f2707965?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                            alt=""
                        />
                    </span>
                    <span class="-ml-2 rounded-full border-2 border-white">
                        <img 
                            class="h-9 w-9 rounded-full object-cover" 
                            src="https://images.unsplash.com/photo-1530268729831-4b0b9e170218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                            alt=""
                        />
                    </span>
                    <span class="-ml-2 rounded-full border-2 border-white">
                        <img 
                            class="h-9 w-9 rounded-full object-cover" 
                            src="https://images.unsplash.com/photo-1494788185066-84d048a0115a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                            alt=""
                        />
                    </span>
                </div>
            </div>
            <div class="flex">
                <span class="inline-flex p-1 border bg-gray-200 rounded-md">
                    <button class="px-2 py-1 rounded">
                        <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none">
                            <path
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round" 
                                d="M4 6h16M4 10h16M4 14h16M4 18h16"
                            />
                        </svg>
                    </button>
                    <button class="px-2 py-1 bg-white rounded shadow">
                        <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none">
                            <path
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                d="M13,5H10A1,1 0 0,0 9,6V18A1,1 0 0,0 10,19H13A1,1 0 0,0 14,18V6A1,1 0 0,0 13,5M20,5H17A1,1 0 0,0 16,6V18A1,1 0 0,0 17,19H20A1,1 0 0,0 21,18V6A1,1 0 0,0 20,5M6,5H3A1,1 0 0,0 2,6V18A1,1 0 0,0 3,19H6A1,1 0 0,0 7,18V6A1,1 0 0,0 6,5Z" 
                            />
                        </svg>
                    </button>
                </span>
                <button class="ml-5 flex items-center pl-2 pr-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-lg hover:bg-gray-700">
                    <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                        <path 
                            stroke="currentColor" 
                            stroke-width="2" 
                            stroke-linecap="round"
                            d="M12 7v10m5-5H7" 
                        />
                    </svg>
                    <span class="ml-1">New Issue</span>
                </button>
            </div>
        </div>
    </header>    
</template>

<script>
import { mapGetters } from 'vuex'
import HomeBtnDropdown from '@/components/layout/HomeBtnDropdown'
import UserBtnDropdown from '@/components/layout/UserBtnDropdown'
import SearchField from '@/components/fields/search'
import LoginBtn from '@/views/login/loginBtn'

export default {
    name: 'HeaderPrincipal',
    components: {
        HomeBtnDropdown,
        UserBtnDropdown,
        SearchField,
        LoginBtn
    },
    data() {
        return {
            isOpenLogin: false
        }
    },
    computed: {
        ...mapGetters('adm', [
              'isAuthenticated', 'login'
          ]),
    },
    methods: {
        onClickedEntrar() {
            this.isOpenLogin = true
        }
    }
}
</script>