<template>
    <div class="relative">
        <button @click="isOpen = !isOpen" class="relative z-10 block px-2 py-1 rounded-full overflow-hidden">
            <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none">
                <path
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round" 
                    d="M4 6h16M4 10h16M4 14h16M4 18h16"
                />
            </svg>
        </button>
        <button v-if="isOpen" @click="isOpen = false" tabindex="-1" class="fixed inset-0 h-full w-full bg-black opacity-50 cursor-default"></button>
        <div  v-if="isOpen" class="absolute left-0 mt-2 py-2 w-36 bg-white rounded-lg shadow-xl">
            <MenuMobilePrincipal class="block" />
        </div>
    </div>
</template>

<script>
import MenuMobilePrincipal from './MenuMobilePrincipal'
export default {
    name: 'HomeBtnDropdowm',
    components: {
        MenuMobilePrincipal
    },
    data() {
        return {
            isOpen: false
        }
    },
    created() {
        const handleEscape = (e) => {
            if (e.key === 'Esc' || e.key === 'Escape') {
                this.isOpen = false
            }
        }
        document.addEventListener('keydown', handleEscape)
        this.$once('hook:beforeDestroy', () => {
            document.removeEventListener('keydown', handleEscape)
        })
    }
}
</script>