<template>
    <div class="h-screen flex">
        <MenuPrincipal />
        <BodyPrincipal />
    </div> 
</template>

<script>

import MenuPrincipal from './MenuPrincipal'
import BodyPrincipal from './BodyPrincipal'

export default {
    name: 'LayoutPrincipal',
    components: {
        MenuPrincipal,
        BodyPrincipal
    }
}

</script>