<template>
    <div class="hidden md:block w-64 px-8 py-4 bg-gray-200 overflow-auto">
        <img class="h-9 w-9" src="/img/icons/apple-touch-icon-60x60.png" alt="">
        <Menu />
    </div>
</template>

<script>
import Menu from './Menu'
export default {
    name: 'MenuPrincipal',
    components: {
        Menu
    }
}
</script>