<template>
    <nav class="mt-8">
        <h3 class="text-xs font-semibold text-gray-600 uppercase tracking-wider">Issues</h3>
        <div class="mt-2 -mx-2">
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg bg-gray-300"
            >
                <span class="text-sm font-medium text-gray-900">All</span>
                <span class="text-xs font-semibold text-gray-700">36</span>
            </a>
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg"
            >
                <span class="text-sm font-medium text-gray-700">Assigned to me</span>
                <span class="text-xs font-semibold text-gray-700">2</span>
            </a>
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg"
            >
                <span class="text-sm font-medium text-gray-700">Created by me</span>
                <span class="text-xs font-semibold text-gray-700">1</span>
            </a>
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg"
            >
                <span class="text-sm font-medium text-gray-700">Archived</span>
            </a>
        </div>
        <h3 class="mt-8 text-xs font-semibold text-gray-600 uppercase tracking-wider">Tags</h3>
        <div class="mt-2 -mx-2">
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg bg-gray-300"
            >
                <span class="text-sm font-medium text-gray-900">Bug</span>
            </a>
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg"
            >
                <span class="text-sm font-medium text-gray-700">Feature request</span>
            </a>
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg"
            >
                <span class="text-sm font-medium text-gray-700">Markenting</span>
            </a>
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg"
            >
                <span class="text-sm font-medium text-gray-700">V 2.0</span>
            </a>
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg"
            >
                <span class="text-sm font-medium text-gray-700">Enhancement </span>
            </a>
            <a  href="#" 
                class="flex justify-between items-center px-3 py-2 rounded-lg"
            >
                <span class="text-sm font-medium text-gray-700">Design</span>
            </a>
            
        </div>
        <button class="mt-2 -ml-1 flex items-center text-sm font-medium text-gray-600">
            <svg class="h-5 v-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                <path 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    d="M12 7v10m5-5H7" 
                />
            </svg>
            <span class="ml-1">New Project</span>
        </button>
    </nav>
</template>

<script>
export default {
    name: 'Menu'
}
</script>