<template>
    <div class="w-64 px-8 py-4 h-screen border-r-1 border-gray-200 bg-gray-200">
        <img class="h-9 w-9" src="/img/icons/apple-touch-icon-60x60.png" alt="">
        <Menu />
    </div>
</template>

<script>
import Menu from './Menu'
export default {
    name: 'MenuMobilePrincipal',
    components: {
        Menu
    }
}
</script>