<template>
    <div class="relative">
        <button @click="isOpen = !isOpen" class="relative z-10 block h8 w-8 rounded-full overflow-hidden border-2 border-gray-600 focus:border-white">
            <img 
                class="h-full w-full object-cover" 
                src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                alt="Your profile image"
            />
        </button>
        <button v-if="isOpen" @click="isOpen = false" tabindex="-1" class="fixed inset-0 h-full w-full bg-black opacity-50 cursor-default"></button>
        <div v-if="isOpen" class="absolute right-0 mt-2 py-2 w-36 bg-white rounded-lg shadow-xl">
            <a href="" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Propiedades</a>
            <a href="" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Suporte</a>
            <a @click="onClickedSair"
                href="" 
            class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Sair</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'userBtnDrop',
    data() {
        return {
            isOpen: false
        }
    },
    created() {
        const handleEscape = (e) => {
            if (e.key === 'Esc' || e.key === 'Escape') {
                this.isOpen = false
            }
        }
        document.addEventListener('keydown', handleEscape)
        this.$once('hook:beforeDestroy', () => {
            document.removeEventListener('keydown', handleEscape)
        })
    },
    methods: {
        onClose() {
            this.isOpen = false
            this.$emit('onClose')
        },
        async onClickedSair() {
            try {
                this.$emit('onClose')
                await this.$store.dispatch('adm/logout')
            } catch (error) {
                alert(error)
            }
        }
    }
}
</script>