<template>
  <div class="home">
    <h1 class="text-teal-400 text-2xl">Wellcome to Vue with Tailwind CSS</h1>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'home',
  components: {
  }
}
</script>
