<template>
    <div class="flex-shrink-0 p-3 w-80 bg-gray-100 rounded-md">
        <h3 class="text-sm font-medium text-gray-900">{{title}}</h3>
        <ul class="mt-2" v-for="i in qtyCard" :key="i">
            <li :class="(i> 0) ? 'mt-3' : ''">
                <KanbanCard />
            </li>
        </ul>
    </div>
</template>

<script>
import KanbanCard from './kanbanCard'
export default {
    name: 'kanbanColumn',
    props: {
        title: {
            type: String,
            default: 'Backlog'
        },
        qtyCard: {
            type: Number,
            default: 0
        }
    },
    components: {
        KanbanCard
    }
}
</script>