<template>
    <a href="" class="block p-5 bg-white rounded-lg shadow">
        <div class="flex justify-between">
            <p class="text-sm font-medium leading-snug text-gray-900">
                Add discount code to checkout Page
            </p>
            <span class="ml-2">
                <img 
                    class="h-6 w-6 rounded-full object-cover" 
                    src="https://images.unsplash.com/photo-1477954417131-efc62c1b25cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=30&h=30&q=80" 
                    alt=""
                />
            </span>
        </div>
        <div class="flex justify-between items-baseline">
            <div class="text-sm text-gray-600">
                <time datetime="2019-09-14">Sep 14</time>
            </div>
            <div class="mt-2">
                <span class="px-2 py-1 leading-tight inline flex items-center bg-teal-100 rounded">
                    <svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                        <circle cx="4" cy="4" r="3" />
                    </svg>
                    <span class="ml-2 text-sm font-medium text-teal-900">Feature Request</span>
                </span>
            </div>
        </div>
    </a>
</template>

<script>
export default {
    name: 'kanbanCard'
}
</script>