<template>
  <div id="app">
    <LayoutPrincipal />
  </div>
</template>

<script>
// import * as moment from 'moment'
// import 'moment/locale/pt-br'
import { mapGetters } from 'vuex'
import LayoutPrincipal from '@/components/layout/LayoutPrincipal'

export default {
    name: 'app',
    components: {
        LayoutPrincipal
    },
    // methods: {
    //     hoje() {
    //         const d = new Date()
    //         return moment(d).locale('pt-br').format('DD-MMM-YYYY')
    //     },
    //     hora() {
    //         const h = new Date()
    //         return moment(h).locale('pt-br').format('HH:MM:SS')
    //     }
    // },
    computed: {
      ...mapGetters('users', [
              'user',
          ]),
      isLogged() {
          return this.$store.getters('adm/isAuthenticated')
      }
    }
}

</script>