/* eslint-disable vue/no-side-effects-in-computed-properties */
<template>
    <div class="relative">
        <button v-if="isOpen" @click="isOpen = false" tabindex="-1" class="fixed inset-0 h-full w-full bg-black opacity-50 cursor-default"></button>
        <div v-if="isOpen" class="fixed flex flex-row items-center inset-0 w-auto h-auto">
            <div class="flex-grow"></div>
            <div class="flex w-64">
                <div class="bg-white shadow-xl rounded-lg px-8 pt-6 pb-8 mb-4 flex flex-col">
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                            Login
                        </label>
                            <!-- class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3"  -->
                        <input v-model="username" 
                            :class="classInputUsername"
                            id="username" 
                            type="text" 
                            placeholder="Diga CPF..." 
                        />
                        <p v-if="!isValidUsername" class="text-red-600 text-xs italic">{{showMsgErrorUsername}}</p>
                    </div>
                    <div class="mb-6">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                            Senha
                        </label>
                        <input v-model="password"
                            :class="classInputPassword"
                            id="password" type="password" 
                            placeholder="******************"
                        />
                        <p v-if="!isValidPassword" class="text-red-600 text-xs italic">{{showMsgErrorPassword}}</p>
                    </div>
                    <div class="flex items-center justify-between">
                        <button @click="onClickedEntrar" :disabled="!isValidAllFields"
                            :class="classBtnEntrar"
                            type="button"
                        >
                            Entrar
                        </button>
                        <button @click="onClose"
                            class="w-20 bg-gray-900 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded" 
                            type="button"
                        >
                            Voltar
                        </button>
                    </div>
                    <div class="mt-4">
                        <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="#">
                            Esqueceu a senha?
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex-grow"></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'loginBtn',
    props: {
        isOpen: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            username: null,
            password: null,
            msgErrorUsername: null,
            msgErrorPassword: null
        }
    },
    methods: {
        async onClickedEntrar() {
            try {
                const payload = {
                    username: null,
                    password: null
                }
                payload.username = this.username
                payload.password = this.password

                //const res = 
                await this.$store.dispatch('adm/login', payload)

                this.onClose()
                
            } catch (error) {
                // console.log(error)
                alert(error)
            }
        },
        onClose() {
            this.$emit("onClose")
        },
        setErrorUsername(msg) {
            this.msgErrorUsername = msg
        },
        setErrorPassword(msg) {
            this.msgErrorPassword = msg
        },
    },

    computed: {
        isValidUsername() {
            this.setErrorUsername('')
            if (this.username === null) return true
            if (this.username.length === 0) {
                this.setErrorUsername('Campo Obrigatório')
                return false
            } 
            return true
        },
        isValidPassword() {
            this.setErrorPassword('')
            if (this.password === null) return true
            if (this.password.length==0) {
                this.setErrorPassword('Campo Obrigatório')
                return false
            }
            if (this.password.length < 8) {
                this.setErrorPassword('Minímo de 8 caracteres')
                return false
            }
            return true
        },
        isValidAllFields() {
            if ((this.username===null) || (this.password===null)) return false
            return (this.isValidUsername && this.isValidPassword)
        },
        showMsgErrorUsername() {
            return this.msgErrorUsername
        },
        showMsgErrorPassword() {
            return this.msgErrorPassword
        },
        classInputPassword() {
            return (this.isValidPassword) ? 
            "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" :
            "shadow appearance-none border border-red-600 rounded w-full py-2 px-3 text-grey-darker mb-3"
        },
        classInputUsername() {
            return (this.isValidUsername) ? 
            "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" :
            "shadow appearance-none border border-red-600 rounded w-full py-2 px-3 text-grey-darker mb-3"
        },
        classBtnEntrar() {
            return (this.isValidAllFields) ? 
            "w-20 bg-teal-500 hover:bg-teal-400 font-bold py-2 px-4 rounded" :
            "w-20 bg-gray-300 font-bold py-2 px-4 rounded"
        }
    }
}
</script>